body{
    background: #f8f8f8
}

.login-screen,
.task {
    position: absolute;
    left: 30%;
    top: 30%;
    width: 40%;
    padding: 20px;
    
    background-color: #fff;
    border: 3px solid rgb(233, 233, 233)
}

.task_value {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
}

.task_button {
    margin: 10px;
}

.task_input {
    margin-left: 10px;
}

.task_check {
    margin-right: 10px;
}